.App {
  text-align: center;
}

Body {
  background-image: url("https://media.istockphoto.com/id/901409080/vector/vending-machine-of-food-and-beverage-automatic-selling-vector-illustration.jpg?s=612x612&w=0&k=20&c=XUYVokF3gkdVygSQ6ePIhsyOpNDCHAQxHi7BefkNNh4=");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18%;
  background-position-y: 0%;
  background-position-x: 51%;
}

.VendingMachine {
  margin-top: 3%;
  font-weight: 500;
}